:root {
    --primary: #f39c12;
    --secondary: #001F46;
    --tertiary: #ffffff;
    --border: #ccc;
}


body {
    margin: 0;
    font-family: Arial;
    background: var(--tertiary);
}

html, body {
    height: 100%;
}


.main-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 24px auto;
    padding: 20px 0;
}

/* Headings */

h2 {
    color: var(--secondary);
    margin-bottom: 15px;
}

h2 span {
    color: var(--primary);
}

/* Inputs */

input, select {
    width: 100%;
    padding: 8px;
    margin: 6px 0 10px 0;
    border: 1px solid var(--border);
    border-radius: 10px;
}

/* Buttons */

button{
    width: 100%;
    padding: 6px;
    margin-top: 8px;
    background: var(--primary);
    color: var(--tertiary);
    border: 3px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover{
    background: transparent;
    border-color: var(--secondary);
    color: var(--secondary);
}

.btn {
    background: var(--primary) !important;
    color: var(--tertiary) !important;
    border-radius: 10px !important;
    border: 3px solid transparent !important;
}

.btn:hover {
    background: transparent !important;
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
}

.contact-btn {
    background: var(--primary) !important;
    color: var(--tertiary) !important;
    border-radius: 10px !important;
    border: 3px solid transparent !important;
    padding: 6px !important;
}

/* Links */

a {
    color: var(--primary);
    text-decoration: none !important;
    transition: 0.3s;
}

a:hover {
    color: var(--secondary);
    border-bottom: 2px solid var(--primary) ;
}

/* Navbar */

.navbar-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--tertiary);
    border-bottom: 2px solid var(--primary);
    padding: 10px 20px;
}

.navbar-custom a {
    margin-left: 15px;
    color: var(--secondary);
}



.sidebar {
    border: 1px solid var(--border);
    padding: 10px;
    min-height: 400px;
}


.center-feed {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}


.post {
    border: 1px solid var(--border);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
}


/* Search */
.search-box {
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* Post */
.post {
    background: white;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
}

.post:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Create post */
.create-post {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}


/* Profile */

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Login Box */

.log_box {
    border: 2px solid var(--primary);
    padding: 25px;
    width: 320px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    margin-top: 120px;
}

/* Registration Box */

.reg_box {
    border: 2px solid var(--primary);
    padding: 25px;
    width: 500px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    margin-top: 70px;
}

/* About Page */

.founder {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.founder img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid var(--primary);
}

.founder p {
    max-width: 500px;
    margin: auto;
    font-size: 14px;
}

.testimonial-card img {
    height: 300px;
    object-fit: cover;
}

.testimonial-card .card-body {
    text-align: center;
}

/* User Portfolio */

.profile-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.user-info {
    text-align: right;
}

.tab-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.tab-buttons button {
    flex: 1;
}

.tab-content {
    border: 1px solid var(--border);
    padding: 15px;
    margin-top: 10px;
}

/* Contact Page */

.banner {
    margin: 20px 40px !important;
    justify-content: center;
}

.banner img {
    width: 400%!important;
    height: 300px !important;
    object-fit: cover;
}


.contact-box {
    text-align: center;
    padding: 30px;
    border: 1px solid var(--border);
    margin: 30px;
    border-radius: 8px;
}

.icons {
    margin-top: 20px;
}

.icons a {
    margin: 0 12px;
    font-size: 28px;
    color: var(--primary);
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.icons a:hover {
    border: 3px solid var(--secondary);
    color: var(--secondary);
}

.contact-info {
    margin-top: 20px;
    font-size: 16px;
}

/* Footer */

.footer {
    background: var(--primary);
    color: var(--tertiary);
    text-align: center;
    padding: 10px;
}